[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rdn/Desktop/org.qupzilla.QupZilla.desktop]
row=6
col=3

[/home/rdn/Desktop/bluefish.desktop]
row=5
col=0

[/home/rdn/Desktop/ristretto.desktop]
row=8
col=3

[/home/rdn/Desktop/chromium.desktop]
row=8
col=0

[/home/rdn/Desktop/catfish.desktop]
row=7
col=0

[/home/rdn/Desktop/masterpdfeditor4.desktop]
row=9
col=2

[/home/rdn/Desktop/gcolor2.desktop]
row=7
col=1

[/home/rdn/Desktop/org.xfce.Parole.desktop]
row=2
col=3

[/home/rdn/Desktop/libreoffice-calc.desktop]
row=5
col=2

[/home/rdn/Desktop/pix.desktop]
row=3
col=3

[/home/rdn/Desktop/gcolor3.desktop]
row=10
col=0

[/home/rdn/Desktop/firefox.desktop]
row=5
col=1

[/home/rdn/Desktop/qpdfview.desktop]
row=5
col=3

[/home/rdn/Desktop/qbittorrent.desktop]
row=4
col=3

[/home/rdn/Desktop/xviewer.desktop]
row=2
col=2

[/home/rdn/Desktop/libreoffice-writer.desktop]
row=8
col=2

[/home/rdn/Desktop/cmake-gui.desktop]
row=9
col=0

[/home/rdn/Desktop/xreader.desktop]
row=2
col=1

[/home/rdn/Desktop/gpick.desktop]
row=1
col=2

[/home/rdn/Desktop/pamac-manager.desktop]
row=1
col=3

[/home/rdn/Desktop/geany.desktop]
row=8
col=1

[/home/rdn/Desktop/netsurf.desktop]
row=11
col=2

[/home/rdn/Desktop/vlc.desktop]
row=3
col=4

[/home/rdn/Desktop/cpu-g.desktop]
row=11
col=0

[/home/rdn/Desktop/qutebrowser.desktop]
row=7
col=3

[/home/rdn/Desktop/org.gnome.Calculator.desktop]
row=6
col=0

[/home/rdn/Desktop/gnome-mplayer.desktop]
row=11
col=1

[/home/rdn/Desktop/org.kde.kate.desktop]
row=4
col=2

[/home/rdn/Desktop/xfce4-terminal.desktop]
row=5
col=4

[/home/rdn/Desktop/dbvis.desktop]
row=0
col=1

[/home/rdn/Desktop/dia.desktop]
row=1
col=1

[/home/rdn/Desktop/anjuta.desktop]
row=2
col=0

[/home/rdn/Desktop/wireshark-gtk.desktop]
row=4
col=4

[/home/rdn/Desktop/org.gnome.Epiphany.desktop]
row=4
col=1

[/home/rdn/Desktop/mousepad.desktop]
row=10
col=2

[/home/rdn/Desktop/audacity.desktop]
row=4
col=0

[/home/rdn/Desktop/libreoffice-draw.desktop]
row=6
col=2

[/home/rdn/Desktop/xed.desktop]
row=11
col=3

[/home/rdn/Desktop/engrampa.desktop]
row=3
col=1

[/home/rdn/Desktop/fluid.desktop]
row=6
col=1

[/home/rdn/Desktop/uzbl-tabbed.desktop]
row=1
col=4

[/home/rdn/Desktop/inkscape.desktop]
row=3
col=2

[/home/rdn/Desktop/gparted.desktop]
row=0
col=2

[/home/rdn/Desktop/terminator.desktop]
row=9
col=3

[/home/rdn/Desktop/gimp.desktop]
row=9
col=1

[/home/rdn/Desktop/glade.desktop]
row=10
col=1

[/home/rdn/Desktop/xpdf.desktop]
row=6
col=4

[/home/rdn/Desktop/thunderbird.desktop]
row=0
col=4

[/home/rdn/Desktop/terminology.desktop]
row=10
col=3

[/home/rdn/Desktop/audacious.desktop]
row=3
col=0

[/home/rdn/Desktop/otter-browser.desktop]
row=0
col=3

[/home/rdn/Desktop/libreoffice-impress.desktop]
row=7
col=2

[/home/rdn/Desktop/viewnior.desktop]
row=2
col=4

[Trash]
row=1
col=0

[/home/rdn]
row=0
col=0

