UpdateInterval=3
TimeScale=0
Size=36
Mode=0
Frame=0
Border=0
Bars=0
TrackedCore=0
Command=xfce4-taskmanager
InTerminal=0
StartupNotification=1
ColorMode=1
Foreground1=#999999999999
Foreground2=#dbdbdbdbdbdb
Foreground3=#00000000ffff
Background=#303030303030

